*{
	font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,input,textarea,select,button{
   font-family: 'Open Sans, sans-serif';
   font-weight: 100;
}

ul, ol{
   list-style:none;
}

a:visited, a:link, a:focus, a:hover, a:active{
   list-style:none;
   text-decoration: none;
}
body {
   overflow-x: hidden;
   position: relative;
 }
 
 html {
   scroll-behavior: smooth;
 }
 

/*=============================================
HEADER
=============================================*/
header{
   position:fixed;
   top: 0;
   z-index:2;
}

header .grid-container{
   display:grid;
   grid-template-columns: 3fr 5fr 1fr 1fr 1fr 1fr;
}

header .grid-item{
   text-align:center;
}

header .bloqueReservas{
   position: relative;
}

header .bloqueReservas .campana-y-reserva{
   background: #FFFBEE;
   cursor: pointer;
}

header .bloqueReservas .fa-concierge-bell{
   font-size: 25px;
   color: #847059;

}

header .bloqueReservas .fa-caret-down, header .bloqueReservas .fa-caret-up{
   font-size: 25px;
   color: #236AA1;
}


header .formReservas{
   position: absolute;
   top:52px;
   width: 350px;
   height: auto;
   left: 0px;
   z-index: 2;
   background: rgba(0, 83, 147, .8);
   
}

header .formReservas .input-group-lg input, header .formReservas select{
   font-size: 14px;

}

header .formReservas input[type="button"]{
   background: black;
   font-size: 16px;
}


header .fa-user{
   font-size: 25px;
   color: #DFDAD4;
   cursor: pointer;
}

header .idiomas span{
   cursor: pointer;
}

header .botonMenu i{
   font-size: 30px;
   color: #B5A99B;
   cursor: pointer;
}
/*
codigo agregado miercoles 10 nov
*/
/*=============================================
MENU
=============================================*/
nav.menu{
   position: fixed;
   z-index:10;
   top: 60px;
   background-color: black;
   display:none;
}

/*
codigo agregado miercoles 10 nov
*/

nav.menu li > .nav-link{
   transition:.5s all;
}



/*
codigo agregado viernes 12 nov
*/

.menuMovil{
	display:none;
	position:fixed;
	background: rgba(0,0,0,.8);
	width:100%;
	height:90vh;
	z-index:2;
	overflow-x: hidden;  
}

.menuMovil .formReservas input[type="button"]{
	background:black;
	font-size:16px;
}

.menuMovil .formReservas{
	background: rgba(0, 83, 147, .8);
	position: relative;
	top:23px;
}

.menuMovil .nav{
	background-color: black !important;
}

/*=============================================
BANNER
=============================================*/

.banner{
	background-color: silver;
	border:2px solid white;
	height:650px;
}
/*=============================================
BANNER
=============================================*/

.banner .fade-slider{
	position:relative;
}

.banner .verMas{
	position:absolute;
	width:60px;
	line-height: 60px;
  	bottom: 5%;
    left: 50%;
    font-size:30px;
    transform: translate(-50%, 0%);
    cursor:pointer;
}

/*=============================================
PLANES
=============================================*/
/*
    ESTILOS A .planes
*/
.planes .titulo {
   font-size: 40px;
   font-weight: 300;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 2rem;
 }
 .planes .contenido {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   transition: all 0.5s ease;
 }
 .planes .contenido::before {
   content: "";
   background-color: rgba(0, 0, 0, 0.7);
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
 }
 .planes .contenido h2 {
   z-index: 2;
 }
 .planes .item {
   overflow: hidden;
   transition: all 0.3s ease;
   cursor: pointer;
 }
 .planes .descripcion {
   grid-area: texto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 2rem;
 }
 .planes .item2 {
   grid-area: romantico;
   background-image: url(../img/plan-romantico.png);
   background-position: center;
   background-size: cover;
 }
 .planes .item3 {
   grid-area: lunaDeMiel;
   background-image: url(../img/luna-de-miel.png);
   background-position: center;
   background-size: cover;
 }
 .planes .item4 {
   grid-area: aventura;
   background-image: url(../img/plan-aventura.png);
   background-position: center;
   background-size: cover;
 }
 .planes .item5 {
   grid-area: spa;
   background-image: url(../img/plan-spa.png);
   background-position: center;
   background-size: cover;
 }
 .planes .contenedor {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 300px 300px;
   grid-template-areas: "texto texto texto romantico romantico romantico" "lunaDeMiel lunaDeMiel aventura aventura spa spa";
 }
/*
    ESTILOS A .menuDeNavegacion
*/
.menuDeNavegacion {
   background-color: #d62c2c;
   z-index: 2;
   color: #fff;
   opacity: 0;
   display: none;
   position: fixed;
   top: 55px;
   transition: all 0.3s ease-in-out;
 }
 .menuDeNavegacion .nav .nav-item:hover {
   background-color: #197DB1;
 }
/*
    ESTILOS A .planes
*/
.planes .titulo {
   font-size: 40px;
   font-weight: 300;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 2rem;
 }
 .planes .contenido {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   transition: all 0.5s ease;
 }
 .planes .contenido::before {
   content: "";
   background-color: rgba(0, 0, 0, 0.7);
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
 }
 .planes .contenido h2 {
   z-index: 2;
 }
 .planes .item {
   overflow: hidden;
   transition: all 0.3s ease;
   cursor: pointer;
 }
 .planes .descripcion {
   grid-area: texto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 2rem;
 }
 .planes .item2 {
   grid-area: romantico;
   background-image: url(../img/plan-romantico.png);
   background-position: center;
   background-size: cover;
 }
 .planes .item3 {
   grid-area: lunaDeMiel;
   background-image: url(../img/luna-de-miel.png);
   background-position: center;
   background-size: cover;
 }
 .planes .item4 {
   grid-area: aventura;
   background-image: url(../img/plan-aventura.png);
   background-position: center;
   background-size: cover;
 }
 .planes .item5 {
   grid-area: spa;
   background-image: url(../img/plan-spa.png);
   background-position: center;
   background-size: cover;
 }
 .planes .contenedor {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 300px 300px;
   grid-template-areas: "texto texto texto romantico romantico romantico" "lunaDeMiel lunaDeMiel aventura aventura spa spa";
 }

/*=============================================
HABITACIONES
=============================================*/

.habitaciones .row div[class*="col"] main{
   background-color: silver;
   border:2px solid white;
   height:400px;
}


/*=============================================
RECORRIDO PUEBLO
=============================================*/

.recorridoPueblo .grid-container{
   display:grid;
   grid-template-columns: 1fr 2fr;
}

.recorridoPueblo .grid-item{
   background-color: silver;
   border:2px solid white;
   text-align:center;
}


.recorridoPueblo .grid-item:nth-child(1){
   grid-row: 1 / span 1;
   height: 220px;
}

.recorridoPueblo .grid-item:nth-child(2){
   grid-row: 2 / span 1;
   height: 220px;
}

.recorridoPueblo .grid-item:nth-child(3){
   grid-row: 1 / span 2;
   height: 440px;
}

/*=============================================
RESTAURANTE
=============================================*/

.fondoRestaurante{
   position:fixed;
   z-index:-1;
   top:0;
   left:0;
   height:500px;
}

.restaurante .grid-container{
   display:grid;
   grid-template-columns: 2fr 1fr;
}

.restaurante .grid-item{
   background-color: silver;
   border:2px solid white;
   text-align:center;
}

.restaurante .grid-item:nth-child(1){
   height:500px;

}

.restaurante .grid-item:nth-child(2){
   position:relative; 
   z-index:1;
   top:-40px; 
   height:580px;
}

.restaurante .carta div[class*="col"]{
   background-color: silver;
   border:2px solid white;
   text-align:center;
   height:200px;
}
/*=============================================
MAPA
=============================================*/

.mapa{
   position:relative;
}

.mapa .info{
   position:absolute;
   width:400px;
   right:10%; 
   top:10%; 
   background-color: silver;
   height:370px;
}

/*=============================================
FOOTER
=============================================*/

footer .grid-container{
   display:grid;
   grid-template-columns: 2fr 4fr 2fr;
}

footer .grid-item{
   background-color: silver;
   border:2px solid white;
   text-align:center;
   height: 70px;
}



/*
mas codigo agregado miercole 10 nov
*/

/*=============================================
SCROLL UP
=============================================*/
/*#scrollUp{
   bottom: 20px;
   right: 20px;
   width: 50px;
   height: 50px;
   background: url(../img/flecha.jpg);
}*/
#scrollUp {
   display: none;
   position: fixed;
   bottom: 3%;
   right: 3%;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   background-color: black;
   z-index: 15;
   background-image: url(../img/flecha.jpg);
   transition: all 0.3s ease;
 }



/*=============================================
TABLET VERTICAL (MD revisamos en 768px hacia abajo)
=============================================*/

@media (max-width:768px){

   header .grid-container{
	   grid-template-columns:4fr 1fr;
   }

   .banner{
	   height:400px;
   }

   .planes .grid-container{	
	   grid-template-columns: auto;
   }

   .planesMovil .grid-container{	
	   grid-template-columns: auto;
   }

   .planesMovil .grid-item{	
	   background-color: silver;
	   border:2px solid white;
	   text-align:center;
	   height: 450px;
   }

   .recorridoPueblo .grid-container{
	   grid-template-columns: 1fr;
   }

   .restaurante .grid-container{
	   grid-template-columns: 1fr;
   }

   .contactenos input{
	   width:100% !important;
	   margin:10px 0px !important;
   }

   footer .grid-container{
	   grid-template-columns: 1fr;
   }

}


